.speakerImgDiv {
  height: 200px;
  max-height: 200px;
  line-height: 200px;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}
.imageContainerSpeaker {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main-image-speaker {
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

ul li {
  list-style: none;
}
.appliedStatusBtn {
  cursor: pointer;
  color: white;
  padding: 0.6rem !important;
  border-radius: 3px;
  background-color: #245e0d !important;
  letter-spacing: 0.1rem;
}
.viewFullDetails {
  cursor: pointer;
  color: white !important;
  padding: 0.6rem !important;
  border-radius: 3px;
  background-color: blue !important;
  letter-spacing: 0.1rem;
}

.appliedJobMain {
  background-color: white !important;
  border: 1px solid #ffffff;
  margin-bottom: 1rem !important;
  box-shadow: 0px 3px 4px 1px #e8e8e8;
}

.waves-light{
    color:#E94161 !important;
    border:1px solid #E94161 !important;
}
.imageUploadStyles{
  color: #245e0d;
}

.someStyleinList{
  background: linear-gradient(100deg, black,transparent);
}
.someStyleinList .someStyleinListone{
    padding: 0 !important;
    border-radius: 1rem !important;

    
}
.someStyleinList .someStyleinListone .someStyleinListtwo{
  color: chartreuse !important;
  text-decoration: underline;
  border-radius: 1.5rem !important;

}