.bgimg {
  /* background-image: url('../images/wit_website_images/background_image_one.jpg'); */
  background-image: url('../images/wit_website_images/background_image_two.jpg');
  /* background-image: url('../images/wit_website_images/background_image_three.jpg'); */
  /* background-image: url('../images/wit_website_images/background_image_four.jpg'); */
  /* background-image: url('../images/wit_website_images/background_image_five.jpg'); */
  /* background-image: url('../images/wit_website_images/background_image_six.jpg'); */
  /* background-image: url('../images/wit_website_images/background_image_seven.jpg'); */
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
  max-width: 100%;
  position: relative;
}
.slide {
  margin: auto;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  line-height: 1;
  opacity: 0.75;
  color: #e94161;
}
.slick-prev {
  left: -35px;
}

.sjd {
  background-color: #feffff;
}

.background-overlay {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #000062;
  opacity: 0.3;
}

.witworkstreamcolRadius {
  border-radius: 5px;
}
.witworkstreamHeadings {
  font-size: 2rem !important;
  font-weight: 300 !important;
  line-height: 1 !important;
}

.tileHeight {
  height: 30vh !important;
}

.feedbacktext {
  font-size: 15px !important;
  letter-spacing: 1.5px !important;
}

.chaya {
  box-shadow: 2px 6px 6px 6px #eaeaea;
  border-radius: 25px !important;
  line-height: 25px;
}

.scholartext {
  font-size: 15px !important;
  letter-spacing: 1.5px !important;
}

.card.chaya {
  height: 40vh !important;
}
.diduknowBound {
  overflow: hidden;
  height: 20vh !important;
}

.witworkstreamTxtBound {
  overflow: hidden;
  height: 8rem !important;
}

.img-div-fix {
  height: 30vh !important;
  width: 100% !important;
}
.didYouKnowContainer {
  background-color: #f9f9f9;
}
.left {
  position: absolute;
  top: 21px;
  left: 7px;
  color: #ecb6c6;
  font-size: 20px;
}
.right {
  position: absolute;
  bottom: 21px;
  right: 7px;
  color: #ecb6c6;
  font-size: 20px;
}
.chaya {
  box-shadow: 4px 2px 9px 2px #eaeaea;
  border-radius: 9px !important;
  line-height: 1.4rem;
  font-size: 0.9rem !important;
  padding-top: 1rem;
  color: #777786;
}
.cardd {
  display: flex;
}

.feedbacktext {
  text-align: center;
  padding: 1rem;
  margin: auto;
  letter-spacing: 1.5px !important;
}
.card.chaya {
  height: 15rem !important;
}
.diduknowBound {
  overflow: hidden;
  height: 9rem !important;
}
.witworkstreamTopStyle {
  margin-top: 7.7rem !important;
}
@media all and (max-width: 480px) {
  .bigBtn {
    width: 100%;
    display: block;
  }
  .witworkstreamTopStyle {
    margin-top: 5.7rem !important;
  }
}
